/.idea/artifacts//.idea/libraries//.idea/.name/.idea/compiler.xml/.idea/encodings.xml/.idea/misc.xml/.idea/modules.xml/.idea/vcs.xml/.idea/workspace.xml/configuration/target//configuration/configuration.iml/enum/target//enum/enum.iml/model/target//model/model.iml/platform-api/target//platform-api/platform-api.iml/util/target//util/util.iml/my-piture.iml